body {
    margin: 0;
  }

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.images-container {
    width: 500px;
    height: 80vw;
    transform: rotate(-0.25turn) translateY(-500px);
    transform-origin: top right;
    overflow-x: hidden;
    overflow-y: auto;
    border: 4px;
    border-style: double;
    border-color: white;
    border-radius: 50px;
    background-color: rgb(130, 130, 130);
    margin-bottom: -700px;
  }

.images-container div {
    width: 100%;
    height: 500px;
    transform: rotate(90deg);
    position: relative;
    margin: 10px 0;
  }

.container div:first-child {
    margin: 0;
  }

.images-container img {
    width: 100%;
    height: 92%;
    object-fit: cover;
    border-radius: 50px;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
  }

.projectinfo {
    margin-top: 30px;
}

.projectinfotext {
    margin-left: 2px;
    color: rgba(255, 255, 255, 0.850);
}

.skills {
    --gutter               : 6rem;
    --text-huge-multiplier : 1;
    position               : relative;
}

.SkillsUsed {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.SkillsUsed .marquee:hover {
  animation-play-state: paused;
}

.About-Project {
  margin-bottom: -50px;
}

.TopProject {
  width: 100px;
  height: 30px;
}

.center-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
}