body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.images-container {
  width: 500px;
  height: 80vw;
  transform: rotate(-0.25turn) translateY(-500px);
  transform-origin: top right;
  overflow-x: hidden;
  overflow-y: auto;
  border: 4px;
  border-style: double;
  border-color: white;
  border-radius: 50px;
  background-color: rgb(130, 130, 130);
  margin-bottom: -700px;
}

.images-container div {
  width: 100%;
  height: 500px;
  transform: rotate(90deg);
  position: relative;
  margin: 10px 0;
}

.container div:first-child {
  margin: 0;
}

.images-container img {
  width: 100%;
  height: 92%;
  object-fit: cover;
  border-radius: 50px;
  border: 2px;
  border-style: solid;
  border-color: black;
  margin-top: 20px;
}

.projectinfo {
  margin-bottom: 100px;
  margin-top: 30px;
}

.projectinfotext {
  margin-left: 2px;
}

.skills {
  --gutter: 6rem;
  --text-huge-multiplier: 1;
  position: relative;
}

.SkillsUsed {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: flex;
  gap: 10px; /* Adjust spacing */
  min-width: 100%;
  animation: pingPongScroll 5s ease-in-out infinite alternate;
}

/* Keyframes for back-and-forth movement */
@keyframes pingPongScroll {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-56%);
  }
}
.SkillsUsed .marquee:hover {
  animation-play-state: paused;
}

.About-Project {
  margin-bottom: -50px;
}
