#Minigames {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap; /* allows wrapping on small screens */
    text-align: center;
}

.game {
    max-width: 300px;
}

.game h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.game img:hover {
    transform: scale(1.05);
}