#Word{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Keyboard {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}

.letter {
    width: 30px;
    padding: 10px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;

    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.used {
    background-color: grey;
}