#Hearts {
    color: red;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.tile {
    width: 48.4px;
    height: 48.4px;
    border: 1px solid rgba(189, 189, 189, 0.74);

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-numb-tile {
    font-size: 9.5px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44.4px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: rgb(212, 212, 212);
}

.tile-start {
    background-color: rgba(242, 242, 242, 0.75);
}

.tile-input{
    background-color: rgb(242, 242, 242, 0.75);
}

.horizontal-line {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.vertical-line {
    border-right: 1px solid rgb(0, 0, 0);
}